extends ../layout.pug

block content
    h2 Editar una ficha - #{ficha.nombreCompleto}
    form(action="/client/update", method="POST", novalidate)
        .form-group.mb-4 
            label.px-3.form-label Nombre
            input.mx-3.form-control(
                type="text", 
                placeholder="Introduce el nombre",
                name="nombre",
                value=ficha.nombre)
        .form-group.mb-4
            label.px-3.form-label Apellidos
            input.mx-3.form-control(
                type="text", 
                placeholder="Introduce los apellidos",
                name="apellidos",
                value=ficha.apellidos)
        .form-group.mb-4
            label.px-3.form-label Calle
            input.mx-3.form-control(
                type="text", 
                placeholder="Introduce el domicilio",
                name="calle",
                value=ficha.calle)
        .form-group.mb-4
            label.px-3.form-label Numero
            input.mx-3.form-control(
                type="text", 
                placeholder="Introduce numero de calle",
                name="numero",
                value=ficha.numero)
        .form-group.mb-4 
            label.px-3.form-label Email
            input.form-control.w-25.d-inline(
                type="email", 
                placeholder="Introduce el email",
                name="email",
                value=ficha.email)
            label.px-3.form-label Telefono
            input.form-control.w-25.d-inline(
                type="number", 
                placeholder="Introduce el telefono",
                name="telefono", 
                value=ficha.telefono)
        input(type="hidden", name="id", value=ficha._id)        
        input.btn.btn-block.btn-info.w-auto(type="submit", value="Modificar") 